*{
    font-family:sans-serif;
    margin: 0;
    padding: 0;
   
}

.maindiv{

    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color:#F0F2F5;
    height: 90vh;
    flex: 1;
}
.loginform{
    flex: 0.5;
}

.imagediv img{
    height: 100px;
    width: 400px;
    background-size: cover;
    display: inline-block;
}

.formdiv{
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.604);
    height: 400px;
    width:450px;
    text-align: center;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    padding-top: 17px;
}
@media (max-width: 470px) {
    .formdiv {
        width: 390px;
        height: 400px;
    }
    
    
}
.id input{
    border-radius: 6px;
    font-size: 17px;
    padding: 14px 16px;
    width: 330px;
    margin-top: 20px;
    border: 1px solid rgba(202, 192, 192, 0.592);
    border-radius: 9px;
    font-size: 20px;
    
}

.logintext p{
    font-size: 30px;
    padding: 10px;
}
.button button{
   background-color: #1877f2;
   border-radius: 10px;
   padding: 11px;
   color: white;
   border: none;
   width: 390px;
  line-height: 28px;
  margin-top: 15px;
  transition: background-color 0.1s ease;
  cursor: pointer;
  font-size: 20px;
  border: none;
}
@media (max-width:470px) {
    .button button{
        width: 350px;
    }
}
@media (max-width:400px){
   .button button{

    width: 300px;
   } 
}
button:hover{
    background-color:  #1261c9;
}
.footer a{
    margin:10px;
    text-decoration: none;
}
.footer span{
    color: blue;
}
.footer{
    margin-top: 20px;
}
.languages ul li a{
    color: rgb(69, 67, 67);
    text-decoration: none;
   
}
.languages ul {
    
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   /* padding: 20px; */
   /* margin: 20px; */
   gap: 10px;
   list-style-type: none;
   margin-top: 100px;
   margin-right: 130px;

}
.border{
    border-bottom: 2px solid rgba(128, 128, 128, 0.491);
    height: 1px;
}
.bottomlist{
    display: flex;
  
    justify-content: space-around;
    align-items: center;

    
}
.bottomlist ul {
    list-style-type: none;
    text-decoration: none;
    
}
.bottomlist a{
    text-decoration: none;
    color: #373434d6;
    /* padding: 20px; */
    font-size: 20px;
    
}
.bottomlist {
    margin-top: 20px;
    /* gap: 20px; */
}
